.grid {
  grid-kiss:
  "+---25%----+ +---25%----+ +---25%----+ +---25%----+"
  "|          | |          | |          | |          |"
  "|  .item1  | |  .item2  | |  .item3  | |  .item4  | 221px"
  "|          | |          | |          | |          |"
  "+----------+ +----------+ +----------+ +----------+"
  "                                                     20px"
  "+-----------------------+ +----------+ +----------+"
  "|                       | |          | |          |"
  "|         .wide1        | |          | |  .item5  | 221px"
  "|                       | |          | |          |"
  "+-----------------------+ | .tall1   | +----------+"
  "                          |          |               20px"
  "+-----------------------+ |          | +----------+"
  "|                       | |          | |          |"
  "|          .wide2       | |          | |  .item6  |  221px"
  "|                       | |          | |          |"
  "+-----------------------+ +----------+ +----------+"
  "                                                     20px"
  "+-----------+ +---------+ +----------+ +----------+"
  "|           | |         | |          | |          |"
  "|           | | .item7  | |          | |  .item8  |  221px"
  "|           | |         | |          | |          |"
  "|           | +---------+ |          | +----------+"
  "|  .tall2   |             |  .tall3  |               20px"
  "|           | +---------+ |          | +----------+"
  "|           | |         | |          | |          |"
  "|           | | .item9  | |          | | .item10  | 221px"
  "|           | |         | |          | |          |"
  "+-----------+ +---------+ +----------+ +----------+"
  "                                                    20px"
  "+-----------------------+ +----------+ +----------+"
  "|                       | |          | |          |"
  "|      .wide3           | | .item11  | |          | 221px"
  "|                       | |          | |          |"
  "+-----------------------+ +----------+ |          |"
  "                                       |  .tall4  | 20px"
  "+-----------------------+ +----------+ |          |"
  "|                       | |          | |          |"
  "|        .wide4         | | .item12  | |          | 221px"
  "|                       | |          | |          |"
  "+-----------------------+ +----------+ +----------+"
}
